*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    background-color: #34568B;
    padding-inline: 4vw;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div>a {
    text-decoration: none;
    color: white;
    padding: 1vw;
}

.brand-card {
    position: fixed;
    left: 50%;
    right: 50%;
}

.brand-card>a>img {
    height: 4vh;
    width: auto;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container>button>img {
    height: 2vh;
    width: auto;
}

.dropdown-menu {
    display: none
}

.main-container {
    width: 100vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    height: 60vh;
    width: 60vh;
    margin: 2vh;
}

.button-container>button {
    background-color: #34568B;
    color: yellow;
    margin: 1vw;
}

.location-button {

}

.button-container {
    display: grid;
    grid-template-columns: 16vw 16vw;
    grid-template-rows: 7vh 7vh 7vh;
}