*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    padding-inline: 4vw;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div>a {
    text-decoration: none;
    color: #34568B;
    padding: 1vw;
}

.beauty-dropdown {
  background-color: white;
  border: none;
  color: #34568B;
  font-size: 1.8vh;
}

.brand-card>a>img {
    height: 4vh;
    width: auto;
}

.main-container {
    width: 100vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    height: 60vh;
    width: 60vh;
    margin: 2vh;
}

.button-container>button {
    background-color: #34568B;
    color: yellow;
    margin: 1vw;
}

.button-container {
  display: grid;
  grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
}


/* Header */
